.brd-style-dotted{
  border-style:dotted;
}

.brd-style-dotted{
  border-style:dotted;
}

.brd-style-dashed{
  border-style:dashed;
}

.brd-style-dotted{
  border-style:dotted;
}

.brd-style-dotted{
  border-style:dotted;
}

.brd-style-solid{
  border-style:solid;
}

.brd-style-double{
  border-style:double;
}

.brd-style-groove{
  border-style:groove;
}

.brd-style-ridge{
  border-style:ridge;
}

.brd-style-inset{
  border-style:inset;
}

.brd-style-outset{
  border-style:outset;
}

.brd-style-none{
  border-style:none;
}
